.hidden_step {
    display: none!important;
}
.full-width {
    width: 100%;
}
.step {
    background: none;
    border: none;
    border-right: 1px solid;
}
.active-step {
    font-weight: bold;
}
.no-border {
    border: none!important;
}
.images-container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding: 10px;
}
.image-holder {
    border: 1px solid grey;
    border-radius: 8px;
    position: relative;
    margin: 10px;
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
}
.image-holder button {
    position: absolute;
    height: 32px;
    padding: 0px;
    width: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid;
    border-radius: 50%;
    cursor: pointer;
    right: -16px;
    top: -16px;
}
.image-holder img {
    width: 100%;
}