
<div class="header bg-gradient-info pb-8 pt-5 pt-md-8">
    <!-- Header container -->
    <div class="container-fluid" *ngIf="!isLoading">
      <div class="row">
        <div class="col-lg-7 col-md-10">
            <h1 class="display-2 text-white">{{patient.firstname + " " + patient.lastname}}</h1>
            <button type="button" mat-raised-button color="primary" (click)="onOpenForm('edit')">
                Modifier
            </button>
            <button type="button" mat-raised-button color="accent" class="ml-2" (click)="onOpenForm('wound')">
                Ajouter une plaie
            </button>
            <button type="button" mat-raised-button color="accent" class="ml-2" (click)="onOpenForm('consultation')">
                Ajouter une consultation
            </button>
            <button type="button" mat-raised-button color="accent" class="ml-2" (click)="onOpenForm('bilans_form')">
                Ajouter bilan
            </button>
            <button type="button" mat-raised-button color="accent" class="ml-2" (click)="onOpenForm('antecedents_form')">
                Ajouter antécédent
            </button>
            <button type="button" mat-raised-button color="accent" class="ml-2" (click)="onOpenForm('prescriptions_form')">
                Ajouter ordonnance
            </button>
        </div>
      </div>
    </div>
</div>
<div class="container-fluid mt--7">
    
    <div class="row" *ngIf="isLoading">
        <div class="col-sm-12">
            <div class="loading-holder">
                <mat-spinner [diameter]="30" style="margin-right: 10px;"></mat-spinner> {{'LOADING' | translate}}
            </div>
        </div>
    </div>
    <div class="row" *ngIf="!isLoading">
        <div class="col-xl-4 order-xl-2 mb-5 mb-xl-0">
            <div class="card card-profile shadow">
                <div class="card-body pt-0 pt-md-4">
                    <div>
                        
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="card-profile-stats d-flex justify-content-center mt-md-5">
                            <div>
                                <span class="heading">{{patient.antecedents?.length || 0}}</span>
                                <span class="description">Antécédents</span>
                            </div>
                            <div>
                                <span class="heading">{{getPassedAppointements()}}</span>
                                <span class="description">Séances passée</span>
                            </div>
                            <div>
                                <span class="heading">{{getMissedAppointements()}}</span>
                                <span class="description">Séances ratée</span>
                            </div>
                            </div>
                        </div>
                    </div>
                    <div class="text-center">
                        <div class="mannequin-conatiner" style="background-image: url(assets/img/male-mannequin-nobg.jpg)">
                            <div *ngFor="let wound of patient.wounds" [ngClass]="wounds_zones_classes[wound.zone]" [ngStyle]="{background: generateLinearGradient(wound)}" class="wound-zone"></div>
                        </div>
                        <h3>
                            {{patient.firstname + " " + patient.lastname}}<span class="font-weight-light">, {{getAge()}}</span>
                        </h3>
                        <div class="h5 font-weight-300">
                            <i class="ni location_pin mr-2"></i>{{patient.gender}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-8 order-xl-1">
            <div class="card bg-secondary shadow">
                <div class="card-header bg-white border-0">
                    <div class="row align-items-center">
                        <div class="col-8">
                            <h3 class="mb-0">Infos</h3>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <mat-tab-group (selectedTabChange)="onTabChanged($event)">
                        <mat-tab label="Infos générales">
                            <div class="card-body">
                                <div class="container-fluid">
                                    <div class="row">
                                        <div class="col-lg-6 p-2">
                                            <strong>Nom:</strong> {{patient.lastname}}
                                        </div>
                                        <div class="col-lg-6 p-2">
                                            <strong>Prenom:</strong> {{patient.firstname}}
                                        </div>
                                        <div class="col-lg-6 p-2">
                                            <strong>Cabinet:</strong> {{patient.cabinet?.name}}
                                        </div>
                                        <div class="col-lg-6 p-2">
                                            <strong>Médecin:</strong> {{patient.doctor?.name}}
                                        </div>
                                        <div class="col-lg-6 p-2">
                                            <strong>Date de naissance:</strong> {{patient.birthday}}
                                        </div>
                                        <div class="col-lg-6 p-2">
                                            <strong>Téléphone:</strong> {{patient.phone_number}}
                                        </div>
                                        <div class="col-lg-6 p-2">
                                            <strong>Sexe:</strong> {{patient.gender}}
                                        </div>
                                        <div class="col-lg-6 p-2">
                                            <strong>Email:</strong> {{patient.email}}
                                        </div>
                                        <div class="col-lg-6 p-2">
                                            <strong>Situation familiale:</strong> {{patient.civility}}
                                        </div>
                                        <div class="col-lg-6 p-2">
                                            <strong>Assurance:</strong> {{patient.assurance}}
                                        </div>
                                        <div class="col-lg-6 p-2">
                                            <strong>Groupe sanguin:</strong> {{patient.blood_type}}
                                        </div>
                                        <div class="col-lg-6 p-2">
                                            <strong>Note:</strong> {{patient.note}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </mat-tab>
                        <mat-tab label="Plaies">
                            <div class="card-body" *ngIf="!show_ptsi">
                                <div class="container-fluid" *ngFor="let wound of patient.wounds">
                                    <div class="row">
                                        <div class="col-lg-12 text-right">
                                            <button type="button" mat-raised-button color="primary" (click)="onShowPtsi(wound.id)" *ngIf="wound.ptsis.length > 0">
                                                List PTSI
                                            </button>
                                            <button type="button" mat-raised-button color="accent" class="ml-2" (click)="onAddPtsi(wound.id)">
                                                Ajouter PTSI
                                            </button>
                                        </div>
                                    </div>
                                    <div class="row detail-elements">
                                        <div class="col-lg-6 p-2">
                                            <strong>Type:</strong> {{wound.type}}
                                        </div>
                                        <div class="col-lg-6 p-2">
                                            <strong>Etiologie:</strong> {{wound.etiologie}}
                                        </div>
                                        <div class="col-lg-6 p-2">
                                            <strong>Zone:</strong> {{wound.zone}}
                                        </div>
                                        <div class="col-lg-6 p-2">
                                            <strong>Nombre de soins:</strong> {{wound.treatments_count}}
                                        </div>
                                        <div class="col-lg-6 p-2">
                                            <strong>Type de durée:</strong> {{wound.duration_type}}
                                        </div>
                                        <div class="col-lg-6 p-2">
                                            <strong>Durée:</strong> {{wound.duration}}
                                        </div>
                                        <div class="col-lg-6 p-2">
                                            <strong>Date de début des soins:</strong> {{wound.date}}
                                        </div>
                                        <div class="col-md-12 d-flex images-container">
                                            <div *ngFor="let prescription of wound.prescriptions">
                                                <button type="button" mat-raised-button color="primary" class="mr-2" (click)="downloadFile(prescription)">
                                                    Telecharger le fichier {{prescription.id}}
                                                </button>
                                            </div>
                                        </div>
                                        <hr>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body" *ngIf="show_ptsi">
                                <div class="container-fluid">
                                    <div class="row">
                                        <div class="col-lg-12 text-right">
                                            <button type="button" mat-raised-button color="primary" (click)="onShowPtsi(false)">
                                                Plaies
                                            </button>
                                            <button type="button" mat-raised-button color="accent" class="ml-2" (click)="onAddPtsi(selected_items.wound.id)">
                                                Ajouter PTSI
                                            </button>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-12 p-2">
                                            <table class="table align-items-center table-flush">
                                                <thead class="thead-light">
                                                    <tr>
                                                        <th scope="col">Id</th>
                                                        <th scope="col">Zone</th>
                                                        <th scope="col">Colorations</th>
                                                        <th scope="col">Tissus</th>
                                                        <th scope="col">Inflammation & infection</th>
                                                        <th scope="col">Maintien d'humidité</th>
                                                        <th scope="col">Date de création</th>
                                                        <th scope="col">Date de modification</th>
                                                        <th scope="col"></th>
                                                    </tr>
                                                </thead>
                                                <tbody *ngIf="!isLoading">
                                                    <tr *ngFor="let item of selected_items.wound.ptsis">
                                                        <th>
                                                            {{item.id}}
                                                        </th>
                                                        <th>
                                                            {{item.zone}}
                                                        </th>
                                                        <th>
                                                            <span *ngFor="let color of item.colors; let i = index">
                                                                {{color.color}} = {{color.percentage}}% {{i < item.colors.length - 1 ? "," : ""}}
                                                            </span>
                                                        </th>
                                                        <th>
                                                            {{item.tissus}}
                                                        </th>
                                                        <th>
                                                            {{item.inflammation}}
                                                        </th>
                                                        <th>
                                                            {{item.humidity}}
                                                        </th>
                                                        <th>
                                                            {{item.created_at}}
                                                        </th>
                                                        <th>
                                                            {{item.updated_at}}
                                                        </th>
                                                        
                                                        <td>
                                                            <button mat-mini-fab color="primary" (click)="onEditPtsi(item.id, selected_items.wound.id)" aria-label="Modifier">
                                                                <mat-icon>edit</mat-icon>
                                                            </button>
                                                            <button mat-mini-fab color="primary" class="ml-2" (click)="onShowPtsiList(selected_items.wound, item.id)" aria-label="Details">
                                                                <mat-icon>remove_red_eye</mat-icon>
                                                            </button>
                                                        </td>
                                                        
                                                        
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </mat-tab>
                        <mat-tab label="Antécédents">
                            <div class="card-body">
                                <div class="container-fluid">
                                    <div class="row detail-elements" *ngFor="let antecedent of patient.antecedents">
                                        <div class="col-lg-6 p-2">
                                            <strong>Type d'antécédent:</strong> {{antecedent.antecedent?.name}}
                                        </div>
                                        <div class="col-lg-6 p-2">
                                            <strong>Intitulé:</strong> {{antecedent.title}}
                                        </div>
                                        <div class="col-lg-6 p-2">
                                            <strong>Date de début:</strong> {{antecedent.start_date}}
                                        </div>
                                        <div class="col-lg-6 p-2">
                                            <strong>Date de fin:</strong> {{antecedent.end_date}}
                                        </div>
                                        <hr>
                                    </div>
                                </div>
                            </div>
                        </mat-tab>
                        <mat-tab label="Historiques des ordonnances">
                            <div class="card-body">
                                <div class="container-fluid">
                                    <div class="row detail-elements" *ngFor="let prescription of patient.prescriptions">
                                        <div class="col-lg-6 p-2">
                                            <strong>Type:</strong> {{prescription.type}}
                                        </div>
                                        <div class="col-lg-6 p-2">
                                            <strong>Date:</strong> {{prescription.date}}
                                        </div>
                                        <div class="col-md-12 d-flex images-container">
                                            <div class="image-holder" *ngFor="let image of prescription.images; let imageKey = index">
                                                <img [src]="image.image" />
                                            </div>
                                        </div>
                                        <hr>
                                    </div>
                                </div>
                            </div>
                        </mat-tab>
                        <mat-tab label="Historique des bilans et examens">
                            <div class="card-body">
                                <div class="container-fluid">
                                    <div class="row detail-elements" *ngFor="let bilan of patient.bilans">
                                        <div class="col-lg-6 p-2">
                                            <strong>Nom:</strong> {{bilan.name}}
                                        </div>
                                        <div class="col-lg-6 p-2">
                                            <strong>Type:</strong> {{bilan.type}}
                                        </div>
                                        <div class="col-lg-6 p-2">
                                            <strong>Date:</strong> {{bilan.date}}
                                        </div>
                                        <div class="col-md-12 d-flex images-container">
                                            <div class="image-holder" *ngFor="let image of bilan.images; let imageKey = index">
                                                <img [src]="image.image" />
                                            </div>
                                        </div>
                                        <hr>
                                    </div>
                                </div>
                            </div>
                        </mat-tab>
                        <mat-tab label="Consultations/Rendez-vous">
                            <div class="card-body" *ngIf="selectedTabIndex === 4">
                                <div class="container-fluid">
                                    <div class="row">
                                        <div class="col-lg-12 p-2">
                                            <full-calendar [options]="calendarOptions"></full-calendar>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </mat-tab>
                    </mat-tab-group>
                </div>
            </div>
        </div>
    </div>
</div>

<app-patients-form
    *ngIf="showingForms.edit"
    [id]="id"
    (closingEvent)="onClose()"
    (reloadEvent)="getUpdatedData()"
    [selectedElement]="patient"
    ></app-patients-form>
<app-wounds-form
    *ngIf="showingForms.wound"
    [patient]="patient"
    (closingEvent)="onClose()"
    (reloadEvent)="getUpdatedData()"
    [selectedElement]="selected_items.wound"
    ></app-wounds-form>
<app-ptsi-form
    *ngIf="showingForms.ptsi"
    [wound]="selected_items.wound"
    (closingEvent)="onClose()"
    (reloadEvent)="getUpdatedData()"
    [selectedElement]="selected_items.ptsi"
    ></app-ptsi-form>
<app-ptsi-list
    *ngIf="showingForms.ptsi_list"
    [ptsi]="selected_items.ptsi"
    [patient]="patient"
    (closingEvent)="onClose()"
    (reloadEvent)="getUpdatedData()"
    ></app-ptsi-list>
<app-consultations-details
        *ngIf="showingForms.consultation_details"
        [consultation]="selected_items.consultation"
        (closingEvent)="onClose()"
        (reloadEvent)="getUpdatedData()"
        ></app-consultations-details>
<app-consultations-form
    *ngIf="showingForms.consultation"
    [patient]="patient"
    (closingEvent)="onClose()"
    (reloadEvent)="getUpdatedData()"
    [selectedElement]="selected_items.consultation"
    ></app-consultations-form>

<app-patient-antecedents-form
    *ngIf="showingForms.antecedents_form"
    [id]="id"
    (closingEvent)="onClose()"
    (reloadEvent)="getUpdatedData()"
    [selectedElement]="patient"
    ></app-patient-antecedents-form>

<app-patient-bilans-form
    *ngIf="showingForms.bilans_form"
    [id]="id"
    (closingEvent)="onClose()"
    (reloadEvent)="getUpdatedData()"
    [selectedElement]="patient"
    ></app-patient-bilans-form>

<app-patient-prescriptions-form
    *ngIf="showingForms.prescriptions_form"
    [id]="id"
    (closingEvent)="onClose()"
    (reloadEvent)="getUpdatedData()"
    [selectedElement]="patient"
    ></app-patient-prescriptions-form>