<app-base-modal [title]="title" (closingEvent)="onClose()" (submit)="onSubmit()" [isLoading]="isLoading">
    <form #f="ngForm">
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <input type="text" name="code" required [(ngModel)]="data.code" class="form-control form-control-alternative"
                        placeholder="Code"  #code="ngModel">
                    <div class="error-message" *ngIf="code.invalid && code.touched">
                        Code est requis.
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <input type="text" name="name" required [(ngModel)]="data.name" class="form-control form-control-alternative"
                        placeholder="Nom" #name="ngModel">
                    <div class="error-message" *ngIf="name.invalid && name.touched">
                        Nom est requis.
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <select name="type" required [(ngModel)]="data.type" class="form-control form-control-alternative"
                        placeholder="Type" #type="ngModel">
                        <option value="" disabled>Type</option>
                        <option [value]="antType" *ngFor="let antType of types">{{antType}}</option>
                    </select>
                    <div class="error-message" *ngIf="type.invalid && type.touched">
                        Type est requis.
                    </div>
                </div>
            </div>
            <div class="col-md-6 d-flex align-items-center">
                <div class="form-group d-flex mb-0">
                    <span class="mr-2">Enabled:</span>
                    <label class="custom-toggle mb-0">
                        <input type="checkbox" (click)="toggleStatus()" [checked]="data.enabled">
                        <span class="custom-toggle-slider rounded-circle"></span>
                    </label>
                </div>
            </div>
        </div>
    </form>

</app-base-modal>